# Interfaz Gráfica y Dashboards
streamlit
pandas>=2.2.2

# Ciencia de Datos y Gráficos
plotly==5.22.0
matplotlib==3.9.0

# Conexión e Integración de IA
openai==1.30.1
langchain==0.2.1
langchain-community==0.2.1
python-dotenv==1.0.1

# Generación de Credenciales y Reportes (MIN-CARD)
qrcode==7.4.2
pypdf==4.2.0

# Visión por Computadora y Lector QR (Punto de Control)
opencv-python-headless
numpy
pillow